asgiref==3.4.1
cx-Oracle==8.3.0
Django==4.0.2
django-3-jet==1.0.8
django-4-jet==1.0.8
django-crispy-forms==1.13.0
django-jet==1.0.8
feedparser==6.0.8
sgmllib3k==1.0.0
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
